@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<div class="btn-group-vertical text-center" style="width:80%; height:120%; margin-left: auto; margin-right: auto; display: block;" role="group" aria-label="Vertical button group">
    <a class="btn btn-primary" asp-controller="Clients" asp-action="Index">Client</a>
    <a class="btn btn-danger" href="http://localhost:3000/">Weather</a>
</div>